#draggable{
    background-color: #003eff;
}

#left{
    margin-left: 15px;
    float: left;
    padding: 0;
    width: 172px;
    min-height: 220px;
    display: block;
    border: 2px solid #737373;
}

.borderRad{
    border-radius: 5px;
}

.title{
    color:#adadad;
}

.userName{
    color: #e3780c;
}

#right{
    padding: 0;
    margin-left: 210px;
    float: left;
    width: 172px;
    min-height: 220px;
    display: block;
    border: 2px solid #737373;
}

#sortable1, #sortable2 {
     /*border: 1px solid #eee;*/
     width: 172px;
     min-height: 220px;
     list-style-type: none;
     margin: 0;

     padding: 5px 0 0 0;
     float: left;
     /*margin-right: 10px;*/
 }
#sortable1 li, #sortable2 li {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 160px;
}
.issueContainer{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
    min-height: 80px;
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border: dotted 1px #aaaaaa;
    border-radius: 5px;
 }

.issueContainer li{
    border-radius: 5px;
    width: 100%;
    min-width: 50px;
    min-height: 40px;
    list-style-type: none;
}

.sprintContainer{
    border: 1px dotted #c5c5c5;
    border-radius: 5px;
    min-height: 40px;
    width: 100%;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px 0 0 0;
    float: left;
    /*margin-right: 10px;*/
}

.sprintContainer li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    width:calc(100% - 10px);
}

.issue{
    border: 1px dotted #c5c5c5;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 3px 0;
}

.statusContainer{
    margin: 0 1%;
    min-height: 300px;
    float: left;
    display: block;
}

.statusBlock{
    margin: 0 -1%;
}

.img{
    width: 20px;
    height: 20px;
}

.logo{
    width: 30px;
    height: 30px;
    background-color: white;
}

.imgInfo{
    margin-right: 5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.imgBlock{
     display: block;
     float: left;
 }

.iconBlock{
    cursor: pointer;
    float: right;
    display: block;
}

.imgMini{
    width: 15px;
    height: 15px;
}

.assign{
    color: #737373;
    padding-right: 10px;
}

.marginL{
    margin-left: 5px;
}

.summary{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 10px);
}

.description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 10px);
}


.textDecorNo:hover{
    text-decoration: none;
}

.sprintSummary{
    padding-left: 10px;
    font-weight: bold;
}

.sprintDescription{
    color:#93a1a1;
    display: block;
    white-space: nowrap;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageSpan{
    float: left;
    display: block;
}

.keyRef{
    color: #007fff;
    margin: 0;
    width: 60px;
    float: left;
    display: block;
}

.imageSpan{
    float: left;
}

.prioritySpan{
    float: left;
    display: block;
}

.example_text{
    color: #aaaaaa;
}

.leftDivDetails{
    float: left;
    width: 65%;
    margin-top: 10px;
}

.rightDivPeople{
    float: right;
    width: 30%;
    height: 500px;
    margin-top: 10px;
}

.marginLeft{
    margin-left: 40px;
}

.strike {
    padding: 5px 0;
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #c3c3c3;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.dataFormat{
    font-size: 0.7em;
    margin-left: 5px;
    color: #007fff;

}

.linkIssue{
    float: right;
}

.statusColor {
    color: black;
}

.statusBGColorO{
    background-color: #fffa90;
}

.statusBGColorI{
    background-color: #46b8da;
}

.statusBGColorR{
    background-color: #d9534f;
}

.statusBGColorT{
    background-color: #d58512;
}

.statusBGColorD{
    background-color: green;
}

.colorShade{
    color:#93a1a1;
}

.danger{
    color: #d9534f;
}

.attention{
    color: yellow;
}

.high{
    color: #003eff;
}

.low{
    color: green;
}

.block{
    display: block;
}

.bolder{
    font-weight: bold;
    padding-left: 5px;
}

.floatRight{
    margin-right: 15px;
    float: right;
}

.floatR{
    float: right;
}

.floatLeft{
    float: left;
}

a:hover{
    text-decoration: none;
}

.baDge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.baDge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.baDge-error {
    background-color: #b94a48 !important;
}
.baDge-error:hover {
    background-color: #953b39;
}
.baDge-warning {
    background-color: #f89406 !important;
}
.baDge-warning:hover {
    background-color: #c67605;
}
.baDge-success {
    background-color: #468847 !important;
}
.baDge-success:hover {
    background-color: #356635;
}
.baDge-info {
    background-color: #3a87ad !important;
}
.baDge-info:hover {
    background-color: #2d6987;
}
.baDge-inverse {
    background-color: #333333 !important;
}
.baDge-inverse:hover {
    background-color: #1a1a1a;
}

.bWidth{
    width: 40px;
}

.pagination li a{
    background: #f6f6f6;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
     background-color: #222 !important;
    border-color: #222 !important;
}

.panel-default>.panel-heading{
    background-color: #101010 !important;
    color: white !important;
}

.btn-log {
    color: #fff;
    background-color: #101010;
    border-color: #101010;
}

.btn-log:hover{
    color: #93a1a1 !important;
}

.navbar-inverse .navbar-nav>li>a  {
    color: white !important;
}

.navbar-inverse .navbar-nav>li>a:hover  {
    color: #93a1a1 !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #93a1a1 !important;
}

.ui-state-default {
    padding: 5px 0;
    margin-bottom: 5px;
    border-radius: 5px;
}

.userGeneral{
    margin-top: 10px;

}

.userGeneral dt{
    color:#93a1a1;
}

.userGeneral dd{
    font-weight: bold;
}