#draggable{
    background-color: #003eff;
}

#left{
    margin-left: 10px;
    float: left;
    width: 200px;
    height: 400px;
    display: block;
    background-color: #398439;
}

.title{
    color:#adadad;
}

#right{
    margin-left: 165px;
    float: left;
    width: 200px;
    height: 400px;
    display: block;
    border: 2px solid #737373;
}

#sortable1, #sortable2 {
     /*border: 1px solid #eee;*/
     width: 200px;
     height: 400px;
     min-height: 20px;
     list-style-type: none;
     margin: 0;
     padding: 5px 0 0 0;
     float: left;
     /*margin-right: 10px;*/
 }
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 160px;
}
.issueContainer{
    border: 1px solid #000000;
    height: 200px;
 }

.issueContainer li{
    display: block;
    min-width: 50%;
    min-height: 40px;
    background-color: #aaaaaa;
    list-style-type: none;
}

.sprintContainer{
    border: 1px solid #000000;
    min-height: 40px;
    min-width: 1120px;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px 0 0 0;
    float: left;
    /*margin-right: 10px;*/
}

.sprintContainer li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 1120px;
}

.img{
    width: 20px;
    height: 20px;
}

.assign{
    padding-right: 10px;
    text-align: right;
    float: left;
    width: 200px;
}

.summary{
    padding-left: 10px;
    float: left;
    display: block;
    width: 500px;
}
.imageSpan{
    float: left;
    display: block;
}

.key{
    margin: 0;
    width: 60px;
    float: left;
    display: block;
}

.imageSpan{
    float: left;
}

.original{
    /*float: left;*/
    display: block;
}

.prioritySpan{
    float: left;
    display: block;
}